.forms {
  background-image: url("../../img/4.jpg");
  background-color: rgba(0, 0, 0, 0.609);
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_container {
  padding: 5px 40px;
}

.sign_form_container {
  margin: 50px 0 100px;
}

@media screen and (max-width: 600px) {
  .logo_container {
    background-color: black;
    padding:5px 20px
  }

  .sign_form_container {
    margin: unset;
  }

  .forms{
    background-image: unset;
    background-color: black;
  }
}


@media screen and (max-width: 320px) {
  .logo_container {
    padding:5px 10px
  }
}