.sign_form {
  padding: 50px 50px 100px;
  background-color: rgba(0, 0, 0, 0.783);
  width: 440px;
  margin: 0 auto;
  border-radius: 4px;
}

.sign_form h1 {
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
}

.change_form {
  color: grey;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.change_form div {
  margin-left: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .sign_form {
    background-color: black;
    width: unset;
    padding: 30px 50px 155px;
  }
}

@media screen and (max-width: 500px) {
  .sign_form {
    padding: 50px 20px 155px;
  }
}


@media screen and (max-width:320px) {
  .sign_form {
    padding: 50px 10px 155px;
  }
}
